* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px;
}

.todoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.todoList {
  padding: 10px;
  position: absolute;
  top: 50px;
  list-style-type: none;

  width: 40%;
}

.todoList li {
  padding: 10px;
  border: 1px solid #5a5353;
}

span {
  cursor: pointer;
  position: absolute;
  left: 500px;
}
